<div class="outer">
    <div class="inner">
        <h2>Login</h2>
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Email:</label>
                <input type="email" class="form-control" id="username" formControlName="username" required aria-describedby="emailHelp" required>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" formControlName="password" required>
            </div>
            <div class="userType mb-3">
                <label for="userType">User Type: </label> 
                <input type="radio" class="ms-3" name="user" id="patient">
                <label for="patient">Patient</label>

                <input type="radio" class="ms-3" name="user" id="doctor">
                <label for="doctor">Doctor</label>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-primary"><a routerLink="/UserDoctor">Doctor Login</a></button>
                <button type="submit" class="btn btn-primary"><a routerLink="/UserPatient">Patient Login</a></button>
            
                <button type="button" class="btn btn-primary"><a routerLink="/signup">Sign Up</a></button>
            </div>
            
        </form>
    </div>
</div>

