!

<div class="outer">
    <div class="inner">
        <h1>Hello, Doctor</h1>
        <h3>My slots: </h3>
        <table class="table table-bordered w-25">
            <tr>
                <td>Date</td>
                <td>Hour</td>
                <td>Edit slot</td>
                <td>Cancel slot</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <h3>Create new slot;</h3>
        <table class="table mb-2 table-bordered w-25">
            <tr>
                <td>Date</td>
                <td>lorem</td>
            </tr>
            <tr>
                <td>Hour</td>
                <td>lorem</td>
            </tr>
        </table>
        <button type="button" class="btn btn-primary">Add slot</button>
    </div>
</div>