<div class="outer">
    <div class="inner">
      
      <h3>Doctors:</h3>
      <table class="table mb-2 table-bordered w-25">
        <tr>
          <td>Doctor ID</td>
          <td>Doctor Name</td>
          <td>Doctor Email</td>
        </tr>
        <tr *ngFor="let doctor of doctors; let i = index">
          <td>{{ doctor?.DoctorId }}</td>
          <td>{{ doctor?.DoctorName }}</td>
          <td>{{ doctor?.DoctorEmail }}</td>
        </tr>
        <tr *ngIf="doctors.length === 0">
          <td colspan="3">No doctors available</td>
        </tr>
      </table>
  
      <button type="button" class="btn btn-primary" (click)="showAllDoctors()">Show All Doctors</button>
  
      <h3>Doctor Slots:</h3>
      <table class="table mb-2 table-bordered w-25">
        <tr>
          <td>Slot ID</td>
          <td>Slot DateTime</td>
          <td>Doctor ID</td>
        </tr>
        <tr *ngFor="let slot of doctorSlots; let i = index">
          <td>{{ slot?.slotId }}</td>
          <td>{{ slot?.slotDateTime }}</td>
          <td>{{ slot?.doctorId }}</td>
        </tr>
        <tr *ngIf="doctorSlots.length === 0">
          <td colspan="3">No doctor slots available</td>
        </tr>
      </table>
      <label for="doctorIdToShowSlots">Enter Doctor ID to Show Slots:</label>
      <input type="number" id="doctorIdToShowSlots" [(ngModel)]="doctorIdToShowSlots" class="form-control" required>
      <button type="button" class="btn btn-primary" (click)="showSlotsForDoctor()">Show Slots for Doctor</button>
      <h3>Appointments:</h3>
      <table class="table mb-2 table-bordered w-25">
        <tr>
          <td>Slot DateTime</td>
          <td>Doctor ID</td>
          <td>Actions</td>
        </tr>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment?.SlotDateTime }}</td>
          <td>{{ appointment?.DoctorID }}</td>
          
          <td>
            <button type="button" class="btn btn-primary" (click)="updateAppointment(appointment.SlotID, appointment.DoctorID, appointment.NewSlotID, appointment.NewDoctorID)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="cancelAppointment(appointment.SlotID)">Cancel</button>
          </td>
        </tr>
      </table>
      <button type="button" class="btn btn-info" (click)="loadAppointments()">Show All Appointments</button>
  
      
      <h3>Create new appointment:</h3>
      <form [formGroup]="appointmentForm" (ngSubmit)="createAppointment()">
        <label for="newSlotDateTime">Slot Date and Time:</label>
        <input type="datetime-local" id="newSlotDateTime" formControlName="newSlotDateTime" class="form-control" required>
  
        <label for="newDoctorId">Doctor ID:</label>
        <input type="number" id="newDoctorId" formControlName="newDoctorId" class="form-control" required>
  
        <button type="submit" class="btn btn-success">Create Appointment</button>
      </form>
    </div>
  </div>
  