<div class="outer">
    <div class="inner">
        <h1>Hello</h1>
        <h3>My appointments: </h3>
        <table class="table mb-2 table-bordered w-25">
            <tr>
                <td>Appointment</td>
                <td>Doctor</td>
                <td>Edit slot</td>
                <td>Cancel slot</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <h3>Create new ppointment:</h3>
        <table class="table mb-2 table-bordered w-25">
            <tr>
                <td>Choose Doctor</td>
                <td>Appointment</td>
            </tr>
            <tr>
                <td>Hour</td>
                <td>lorem</td>
            </tr>
        </table>
        <button type="button" class="btn btn-primary">Reserve</button>
    </div>
</div>


